/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,600&subset=latin,cyrillic");
html,
body {
  height: 100%;
}
body {
  color: #888;
  background-color: #222729;
  font: 14pt 'Open Sans', 'PT Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
}
:link {
  text-decoration: none;
}
.dummy {
  background-color: #ffc0cb;
}
body .facebook {
  background-color: #3b5998;
}
body .google {
  background-color: #c23321;
}
body .vk {
  background-color: #344d6c;
}
body .github {
  background-color: #fff;
  border-color: #7a7a7a;
  color: #333;
}
/*****************************************************************************/
/*
/* Sidebar
/*
/*****************************************************************************/
.header {
  float: left;
  width: 300px;
  background-color: #222729;
}
.header a:link,
.header a:visited {
  color: rgba(255,255,255,0.75);
  text-decoration: none;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.header a:link:hover,
.header a:visited:hover {
  color: #fff;
}
.logo {
  font-size: 16px;
  margin: 1.34em 0;
  padding: 0.5em 1.5em 0.5em 1.5em;
  white-space: nowrap;
  text-align: center;
  color: #fff;
}
.logo-link {
  display: block;
}
.logo-image {
  display: block;
  width: 80px;
  height: 80px;
  margin: 0 auto;
}
.user {
  font-size: 15px;
  margin: 0.67em 0;
  padding: 0.5em 1.5em 0.5em 1.5em;
  text-align: right;
}
.user-info {
  margin-bottom: 1em;
}
.user-name {
  position: relative;
/*display: inline;*/
  padding-right: 56px;
  vertical-align: middle;
}
.user-picture {
/*display: inline;*/
/*vertical-align: middle;*/
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -24px;
  border-radius: 48px;
}
.navigation {
  line-height: 2;
  margin: 0.67em 0;
  text-align: right;
}
.navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.navigation-item {
  margin: 0;
}
.navigation-link {
  display: block;
  padding: 0.5em 1.5em 0.5em 1.5em;
  color: rgba(255,255,255,0.5);
  text-decoration: none;
}
.navigation-link:hover {
  color: #fff;
}
.navigation-link.active {
  background: rgba(0,0,0,0.15);
  color: #fff;
}
/*****************************************************************************/
/*
/* Content
/*
/*****************************************************************************/
.content {
  margin-left: 300px;
  overflow: auto;
  min-height: 100%;
  background-color: #fff;
}
.content > article,
.content-section {
  padding: 0 85px 3em;
/*outline: 1px red solid;*/
}
/*****************************************************************************/
/*
/* Events
/*
/*****************************************************************************/
.event-section {
  padding: 0 85px 3em;
/*outline: 1px red solid;*/
  background-color: #f5fafa;
}
.event-section.future {
  background-color: #fff;
}
.event-meta {
  font-size: 11pt;
  margin: 0;
}
.event-meta em {
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  width: 7em;
  color: #666;
}
/*****************************************************************************/
/*
/* Fellows
/*
/*****************************************************************************/
.fellow-list {
  padding: 0;
  list-style: none;
  margin-left: -20px;
}
.fellow-box {
  display: block;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 16.6%;
  padding-left: 20px;
  margin-bottom: 20px;
}
.fellow-card {
  display: block;
  text-align: center;
  padding: 1em;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05);
  overflow: hidden;
  -webkit-transition: -webkit-box-shadow 0.2s;
  transition: box-shadow 0.2s;
}
.fellow-card-picture {
  display: block;
  width: 100%;
  margin-bottom: 1em;
  border-radius: 1000px;
}
.fellow-card:hover {
  -webkit-box-shadow: 0 2px 10px 0 #ff0;
  box-shadow: 0 2px 10px 0 #ff0;
}
.fellow-name {
  font-size: 0.8em;
  line-height: 1.27em;
  display: inline-block;
  height: 2.34em;
/*padding: 1em 0 1em 0;*/
}
.fellow-profile {
  overflow: auto;
  margin-bottom: 2.5em;
  clear: both;
}
.fellow-profile-picture {
  float: left;
  width: 180px;
  margin-right: 1.5em;
  border-radius: 1000px;
}
.fellow-social {
  margin-bottom: 1.5em;
}
.fellow-social-link {
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  border-radius: 12px;
  font-size: 12px;
  margin-right: 0.25em;
  border-width: 1px;
  border-style: solid;
  color: #fff;
  font-weight: bold;
}
.fellow-events-item-date {
  font-size: 80%;
  margin-right: 0.75em;
}
/*****************************************************************************/
/*
/* Forms
/*
/*****************************************************************************/
input,
textarea {
  padding: 0.5em;
  border: 1px solid rgba(0,0,0,0.12);
}
input:invalid,
textarea:invalid {
  border-color: #f00;
}
input:focus,
textarea:focus {
  -webkit-box-shadow: 0 0 6px 0 #00f;
  box-shadow: 0 0 6px 0 #00f;
  outline: none;
}
.login-section {
  overflow: auto;
}
.login-section form {
  font-size: 14px;
}
.login-section form input {
  margin: 0.24em;
}
.login-section form label {
  display: inline-block;
  width: 140px;
/*text-align: right;*/
}
.oauth-link {
  display: inline-block;
  margin-right: 0.67em;
  padding: 0.34em 0.67em;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
}
