/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,300,600&subset=latin,cyrillic');

$sidebar-width = 300px;
$sidebar-color = #222729;

html,
body {
    height: 100%;
}

body {
    color: #888;
    background-color: $sidebar-color;
    font: 14pt 'Open Sans', 'PT Sans', Helvetica, Arial, sans-serif;
    font-weight: 300;
}

.dummy {
    background-color: pink;
}

/*****************************************************************************/
/*
/* Sidebar
/*
/*****************************************************************************/

.header {
    float: left;
    width: $sidebar-width;
    background-color: $sidebar-color;

    :link {
        color: rgba(255, 255, 255, 0.75);
        text-decoration: none;
        transition: color .2s;

        &:hover {
            color: #fff;
        }
        &:visited {
            color: #fff;
        }
    }
}

.title {
}

.logo {
    $logo-size = 80px;

    font-size: 16px;
    margin: 1.34em 0;
    padding: 0.5em 1.5em 0.5em 1.5em;
    white-space: nowrap;
    text-align: center;
    color: #fff;

    &-link {
        display: block;
    }

    &-image {
        display: block;
        width: $logo-size;
        height: $logo-size;
        margin: 0 auto;
    }
}

.user {
    $user-picture-size = 48px;
    font-size: 15px;
    margin: .67em 0;
    padding: 0.5em 1.5em 0.5em 1.5em;
    text-align: right;

    &-singin {

    }

    &-info {
        margin-bottom: 1em;

    }

    &-name {
        position: relative;
        /*display: inline;*/
        padding-right: $user-picture-size + 8px;
        vertical-align: middle;
    }

    &-picture {
        /*display: inline;*/
        /*vertical-align: middle;*/
        position: absolute;
        top: 50%;
        right: 0;
        margin-top: -($user-picture-size / 2);
        border-radius: $user-picture-size;
    }
}

.navigation {
    line-height: 2;
    margin: .67em 0;
    text-align: right;

    &-list {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &-item {
        margin: 0;
    }

    &-link {
        display: block;
        padding: 0.5em 1.5em 0.5em 1.5em;
        color: rgba(255, 255, 255, 0.5);
        text-decoration: none;

        &:hover {
            color: white;
        }

        &.active {
            background: rgba(0, 0, 0, 0.15);
            color: white;
        }
    }
}

/*****************************************************************************/
/*
/* Content
/*
/*****************************************************************************/

section() {
    padding: 0 85px;
    outline: 1px red solid;
}

.content {
    margin-left: $sidebar-width;
    overflow: auto;
    background-color: #fff;

    &-section {
        section();
    }
}


/*****************************************************************************/
/*
/* Events
/*
/*****************************************************************************/

.event {
    &-section {
        section();
        background-color: #f5fafa;

        &.future {
            background-color: white;
        }
    }

    &-meta {
        font-size: 11pt;
        margin: 0;

        & em {
            font-weight: 400;
            font-style: normal;
            display: inline-block;
            width: 7em;
            color: #666;
        }
    }
}

/*****************************************************************************/
/*
/* Fellows
/*
/*****************************************************************************/

$fellow-margin = 20px;

.fellow {
    &-section {
        section();

        overflow: auto;
    }

    &-list {
        padding: 0;
        list-style: none;
        margin-left: -($fellow-margin);
    }

    &-box {
        display: block;
        float: left;
        box-sizing: border-box;
        width: 16.6%;
        padding-left: $fellow-margin;
        margin-bottom: $fellow-margin;
    }

    &-card {
        display: block;
        text-align: center;
        padding: 1em;
        background-color: white;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
        overflow: hidden;
        transition: box-shadow .2s;

        &:hover {
            box-shadow: 0 2px 10px 0 yellow
        }
    }

    &-picture {
        display: block;
        width: 100%;
        margin-bottom: 1em;
        border-radius: 1000px;
    }

    &-name {
        font-size: 0.8em;
        line-height: 1.27em;
        display: inline-block;
        height: 2.34em;
        /*padding: 1em 0 1em 0;*/
    }
}
