/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,600&subset=latin,cyrillic");
html,
body {
  height: 100%;
}
body {
  color: #888;
  background-color: #222729;
  font: 14pt 'Open Sans', 'PT Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
}
.dummy {
  background-color: #ffc0cb;
}
/*****************************************************************************/
/*
/* Sidebar
/*
/*****************************************************************************/
.header {
  float: left;
  width: 300px;
  background-color: #222729;
}
.header :link {
  color: rgba(255,255,255,0.75);
  text-decoration: none;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.header :link:hover {
  color: #fff;
}
.header :link:visited {
  color: #fff;
}
.logo {
  font-size: 16px;
  margin: 1.34em 0;
  padding: 0.5em 1.5em 0.5em 1.5em;
  white-space: nowrap;
  text-align: center;
  color: #fff;
}
.logo-link {
  display: block;
}
.logo-image {
  display: block;
  width: 80px;
  height: 80px;
  margin: 0 auto;
}
.user {
  font-size: 15px;
  margin: 0.67em 0;
  padding: 0.5em 1.5em 0.5em 1.5em;
  text-align: right;
}
.user-info {
  margin-bottom: 1em;
}
.user-name {
  position: relative;
/*display: inline;*/
  padding-right: 56px;
  vertical-align: middle;
}
.user-picture {
/*display: inline;*/
/*vertical-align: middle;*/
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -24px;
  border-radius: 48px;
}
.navigation {
  line-height: 2;
  margin: 0.67em 0;
  text-align: right;
}
.navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.navigation-item {
  margin: 0;
}
.navigation-link {
  display: block;
  padding: 0.5em 1.5em 0.5em 1.5em;
  color: rgba(255,255,255,0.5);
  text-decoration: none;
}
.navigation-link:hover {
  color: #fff;
}
.navigation-link.active {
  background: rgba(0,0,0,0.15);
  color: #fff;
}
/*****************************************************************************/
/*
/* Content
/*
/*****************************************************************************/
.content {
  margin-left: 300px;
  overflow: auto;
  background-color: #fff;
}
.content-section {
  padding: 0 85px;
  outline: 1px #f00 solid;
}
/*****************************************************************************/
/*
/* Events
/*
/*****************************************************************************/
.event-section {
  padding: 0 85px;
  outline: 1px #f00 solid;
  background-color: #f5fafa;
}
.event-section.future {
  background-color: #fff;
}
.event-meta {
  font-size: 11pt;
  margin: 0;
}
.event-meta em {
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  width: 7em;
  color: #666;
}
/*****************************************************************************/
/*
/* Fellows
/*
/*****************************************************************************/
.fellow-section {
  padding: 0 85px;
  outline: 1px #f00 solid;
  overflow: auto;
}
.fellow-list {
  padding: 0;
  list-style: none;
  margin-left: -20px;
}
.fellow-box {
  display: block;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 16.6%;
  padding-left: 20px;
  margin-bottom: 20px;
}
.fellow-card {
  display: block;
  text-align: center;
  padding: 1em;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05);
  overflow: hidden;
  -webkit-transition: -webkit-box-shadow 0.2s;
  transition: box-shadow 0.2s;
}
.fellow-card:hover {
  -webkit-box-shadow: 0 2px 10px 0 #ff0;
  box-shadow: 0 2px 10px 0 #ff0;
}
.fellow-picture {
  display: block;
  width: 100%;
  margin-bottom: 1em;
  border-radius: 1000px;
}
.fellow-name {
  font-size: 0.8em;
  line-height: 1.27em;
  display: inline-block;
  height: 2.34em;
/*padding: 1em 0 1em 0;*/
}
