<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">
</head>
<body>
<header class="header">
  <h1 class="logo">
    <a class="logo-link" href="/"><img class="logo-image" src="/images/logo-it61.png" alt="Ростовское IT-сообщество" width="80" height="80"></a>
    <div>Ростовское IT-сообщество</div>
  </h1>

  <div class="user">
    <div class="user-info">
      <div class="user-name">
        Полковник Аурелиано Буэндиа
        <img class="user-picture dummy"  width="48" height="48">
      </div>
    </div>
    <div class="user-singin"><a href="/registration">Регистрация</a>  ●  <a href="/registration">Вход/Выход</a></div>
  </div>

  <nav class="navigation">
    <ul class="navigation-list">
      <li class="navigation-item"><a class="navigation-link {% if page.section == 'events' %}active{% endif %}" href="{{ site.baseurl }}/events">Мероприятия</a></li>
      <li class="navigation-item"><a class="navigation-link {% if page.section == 'community' %}active{% endif %}" href="{{ site.baseurl }}/fellows">Люди</a></li>
      <li class="navigation-item"><a class="navigation-link {% if page.section == 'sponsors' %}active{% endif %}" href="{{ site.baseurl }}/sponsors">Пожертвования</a></li>
      <li class="navigation-item"><a class="navigation-link {% if page.section == 'sponsors' %}active{% endif %}" href="{{ site.baseurl }}/sponsors">О сайте</a></li>
    </ul>
  </nav>
</header>

<div class="content">
  {{ content }}
</div>

<!--<footer class="footer">
  <div class="contact">
    <p>
      Your Name<br/>
      What You Are<br/>
      you@example.com
    </p>
  <div class="contact">
    <p>
      <a href="https://github.com/yourusername">github.com/yourusername</a><br/>
      <a href="https://twitter.com/yourusername">twitter.com/yourusername</a><br/>
    </p>
  </div>
</footer>-->

</body>
</html>
